langchain==0.3.25
langchainhub==0.1.21
langchain-chroma==0.2.4
langchain_experimental==0.3.4
langchain-community==0.3.24
pypdf
sentence-transformers
numpy<2.0.0
python-dotenv==1.1.0
streamlit==1.46.0
groq
httpx>=0.24.0
requests==2.31.0
